body {
  background-color: hsl(204, 43%, 93%);
  font-family: Karla;
  font-size: 16px;
}

p, h2, h3, h4 {
  margin: 0;
}

#card {
  margin: 20px;
  width: 650px;
  height: 460px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 29px -5px rgba(0,0,0,0.4);
}

#top-section {
  box-sizing: border-box;
  background-color: white;
  padding: 6%;
  width: 100%;
  height: 44%;
}

#bottom-section {
  box-sizing: border-box;
  width: 100%;
  height: 56%;
  color: white;
}

#bottom-left-section, #bottom-right-section {
  vertical-align: top;
  box-sizing: border-box;
  display: inline-block;
  padding: 6%;
  width: 50%;
  height: 100%;
}

#bottom-left-section {
  background-color: hsl(179, 62%, 43%);
}

#bottom-right-section {
  background-color: hsla(179, 62%, 43%, 0.8);
}

#top-section h2 {
  color:  hsl(179, 62%, 43%);
  padding-bottom: 20px;
}

#top-section h4 {
  color:  hsl(71, 73%, 54%);
  padding-bottom: 12px;
}

#top-section p {
  color:  hsl(218, 22%, 67%);
  padding-bottom: 7px;
}

#price-container #price {
  display: inline-block;
  padding-right: 3%;
  padding-bottom: 4%;
  font-weight: 700;
  font-size: 2rem;
}

#price-container #price-frequency {
  position: relative;
  bottom: 5px;
  color: hsla(204, 43%, 93%, 0.6);
  display: inline-block;
}

#bottom-left-section h3{
  padding-bottom: 7%;
}

#bottom-right-section h3{
  padding-bottom: 3%;
}

#bottom-left-section > p{
  padding-bottom: 12%;
  color: hsla(204, 43%, 93%, 0.9);
}

button {
  background-color: hsl(71, 73%, 54%);
  border: none;
  color: white;
  width: 100%;
  height: 26%;
  border-radius: 5px;
  box-shadow: 5px 5px 29px -5px rgba(0,0,0,0.3);
}

button:hover {
  cursor: pointer;
  background-color: hsla(71, 73%, 54%, 0.75);
  color: hsla(100, 100%, 100%, 0.75);
  font-weight: 700;
}

#bottom-right-section ul, li {
  color: hsla(204, 43%, 93%, 0.75);
  font-size: 0.9rem;
  list-style-type: none;
  padding: 0px;
  padding-bottom: 1%;
}
