/* Mobile First */

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  background-color: hsl(204, 43%, 93%);
  font-family: Karla, sans-serif;
  font-size: 16px;
}

p, h2, h3, h4 {
  margin: 0;
}

#card {
  margin: 20px;
  width: 90%;
  border-radius: 10px;
  overflow: hidden;  /* rounding corners */
  box-shadow: 5px 5px 29px -5px rgba(0,0,0,0.4);
}

#top-section {
  background-color: white;
  padding: 30px;
  width: 100%;
}

#top-section h2 {
  color:  hsl(179, 62%, 43%);
  padding-bottom: 25px;
}

#top-section h4 {
  color:  hsl(71, 73%, 54%);
  padding-bottom: 15px;
}

#top-section p {
  color:  hsl(218, 22%, 67%);
  line-height: 1.75;
}

#bottom-section {
  display: flex;
  flex-direction: column;
  color: white;
}

#bottom-left-section, #bottom-right-section {
  padding: 30px;
}

#bottom-left-section {
  background-color: hsl(179, 62%, 43%);
}

#bottom-left-section h3{
  padding-bottom: 20px;
}

#price-container {
  display: flex;
  padding-bottom: 10px;
  align-items: center;
  gap: 10px;
}

#price {
  font-weight: 700;
  font-size: 2rem;
}

#price-frequency {
  font-weight: 400;
  font-size: 1rem;
  color: hsla(204, 43%, 93%, 0.6);
}

#bottom-left-section > p{
  padding-bottom: 25px;
  color: hsla(204, 43%, 93%, 0.9);
}

button {
  background-color: hsl(71, 73%, 54%);
  border: none;
  color: white;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  box-shadow: 5px 5px 29px -5px rgba(0,0,0,0.3);
}

button:hover {
  cursor: pointer;
  background-color: hsla(71, 73%, 54%, 0.75);
  color: hsla(100, 100%, 100%, 0.75);
  font-weight: 700;
}

#bottom-right-section {
  background-color: hsla(179, 62%, 43%, 0.8);
}

#bottom-right-section h3{
  padding-bottom: 5px;
}

#bottom-right-section ul {
  list-style-type: none; /* get rid of bullet points */
  padding: 0; /* get rid of indentation */
}

#bottom-right-section li {
  color: hsla(204, 43%, 93%, 0.75);
  font-size: 0.9rem;
  line-height: 1.4; /* space lines out */
}

@media (min-width: 715px) { /* greater than 715px -- for computers */
  #card {
    width: 650px;
  }

  #top-section {
    padding: 40px;
  }
  
  #bottom-section {
    flex-direction: row;
  }

  #bottom-left-section, #bottom-right-section {
    padding: 40px;
    padding-bottom: 20px;
    flex-basis: 50%;
  }
}
